<!DOCTYPE html>
<html>
    <head>
        <title>Flask I/O Example</title>
        <link rel = "stylesheet" href = "{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <header>
            <h1 class = "Title">Flask I/O Example</h1>
        </header>
        <main>
            <table width = "10%" border = "0">
                <tr>
                    <td> Temperature [°C] </td>
                    <td> {{ Data }} </td>
                </tr>
            </table>

            <form method = "get">
                <button class = "ActionButton" type = "submit" name = "action_button" value = "Temp">Temperature</button>
            </form>
        </main>
    </body>
</html>