  body {
    background-image: url("/static/img/Logo.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  header {
    background-color: #DFB887;
    height: 35px;
    width: 100%;
    opacity: 0.8;
    margin-bottom: 10px;
  }

  h1.Title {
    margin: 0;
    font-size: 1.7em;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
  }

  button.ActionButton {
    border-radius: 10px;
    font-size: 24px;
  }

  footer {
    background-color: #DFB887;
    text-align: center;
    opacity: 0.8;
  }